@import "tailwindcss";
.cartPage{
    width: 450px;
    height: 90dvh;
    /* border: 2px solid black; */
    position: fixed;
    right: 0px;
    transition:transform 0.5s ease;
    padding: 10px 15px;
    background: white; /* optional but useful to ensure visibility */
    transform: translateX(0);
}
.cartPageHide{
    transform: translateX(100%);
}
.headCart{
    border-bottom: 1px solid black;
}
.headCart>p{
    font-size: 22px;
    padding-bottom: 20px;
}
.pdtImg{
    width: 80px;
}